#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";
        
        // Layer 0
        default_layer { 
            bindings = <
                &kp ESC    &kp NUMBER_1    &kp NUMBER_2    &kp NUMBER_3    &kp NUMBER_4    &kp NUMBER_5    &kp NUMBER_6    &kp NUMBER_7    &kp NUMBER_8    &kp NUMBER_9    &kp NUMBER_0    &kp MINUS    &kp EQUAL     &kp BSPC      &none
                &kp TAB    &kp Q           &kp W           &kp E           &kp R           &kp T           &kp Y           &kp U           &kp I           &kp O           &kp P           &kp LBRACKET &kp RBRACKET  &kp BACKSLASH &none
                &kp CAPS   &kp A           &kp S           &kp D           &kp F           &kp G           &kp H           &kp J           &kp K           &kp L           &kp SEMI        &kp APOS     &kp ENTER     &kp UP        &none
                &kp LSHIFT &kp Z           &kp X           &kp C           &kp V           &kp B           &kp N           &kp M           &kp COMMA       &kp PERIOD      &kp FLSH        &kp RSHIFT   &none         &none         &none
                &kp LCTRL  &kp LGUI        &kp LALT        &kp SPACE       &none           &none           &kp SPACE       &none           &none           &kp RALT        &to 1           &kp RCTRL    &kp LEFT      &kp DOWN      &kp RIGHT
            >;
        };
    };
};